.App {
  text-align: center;
}

.background{
  background-image: url("https://images.pexels.com/photos/616401/pexels-photo-616401.jpeg?auto=compress&cs=tinysrgb&w=2200&h=1300&dpr=1");
  background-position: "center";
  background-size: "cover";
  background-repeat: no-repeat;
}

